doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block javascript
      script(src="/jquery.min.js")
  body
    .container
      block content
      
