doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
<<<<<<< HEAD
    block javascript
      script(src="/jquery.min.js")
  body
    .container
      block content
      
=======
  body
    block content
>>>>>>> visual/master
