@import 'node_modules/materialize-css/sass/materialize'
@import 'node_modules/animate.sass/scss/animate'

#register
  transition: .3s;
  input.danger
    background-color: #f32f4d
    color: white
  &.success
    background-color: #2bdb52