extends ../layout

append javascript
  script(src="/axios.min.js")
  script(src="/javascripts/form-errors.js")
  script(src="/javascripts/get-form-data.js")
  script(src="/javascripts/login.js")

block content
  h1 Entrar
  .row
    form.col.s12(id="login", action="/api/users/login", method="POST")
      .row
        .input-field.col.s12
          input.validate(name="email", id="email", type="email", placeholder="Correo electronico")
      .row
        .input-field.col.s12
          input.validate(name="password", id="password", type="password", placeholder="Contraseña")
      .row
        button.btn(type="submit", id="submit") Entrar
        